*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
}

.weatherCard {
    width: 30rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border: 1px solid #ddd;
    padding: 1rem 2rem;
    margin: 1rem auto;
}
