*
{
    margin: 0;
    padding: 0;
}

body
{
    background-color: gray;
}

.hole
{
    background-color: khaki;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    border: 3px solid black;
    position: absolute;
}

.ball
{
    background-color: red;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 2px solid maroon;
    position: absolute;
}

.timeInfo
{
    background-color: white;
    position: absolute;
    padding: 4px;
    font-weight: bold;
    top: 620px;
}

.position
{
    background-color: green;
    position: absolute;
    color: white;
    padding: 4px;
    font-weight: bold;
    top: 40px;
}

#playBoard
{
    position: absolute;
    top: 0;
    left: 0;
    width: 600px;
    height: 600px;  
    border: 5px dashed black;
}
